$darkmode: True;
$transparent: True;
$primary_paletteKeyColor: #0793FF;
$secondary_paletteKeyColor: #6C7698;
$tertiary_paletteKeyColor: #7372A5;
$neutral_paletteKeyColor: #727782;
$neutral_variant_paletteKeyColor: #707784;
$background: #0E141C;
$onBackground: #DDE2EE;
$surface: #0E141C;
$surfaceDim: #0E141C;
$surfaceBright: #343943;
$surfaceContainerLowest: #090E16;
$surfaceContainerLow: #161C24;
$surfaceContainer: #1A2028;
$surfaceContainerHigh: #252A33;
$surfaceContainerHighest: #2F353E;
$onSurface: #DDE2EE;
$surfaceVariant: #404753;
$onSurfaceVariant: #C0C7D5;
$inverseSurface: #DDE2EE;
$inverseOnSurface: #2B313A;
$outline: #8A919E;
$outlineVariant: #404753;
$shadow: #000000;
$scrim: #000000;
$surfaceTint: #A3C9FF;
$primary: #A3C9FF;
$onPrimary: #00315C;
$primaryContainer: #004882;
$onPrimaryContainer: #D3E4FF;
$inversePrimary: #0060AA;
$secondary: #BCC5EB;
$onSecondary: #252F4D;
$secondaryContainer: #3C4665;
$onSecondaryContainer: #DBE1FF;
$tertiary: #C3C1F9;
$onTertiary: #2C2B59;
$tertiaryContainer: #8D8CC0;
$onTertiaryContainer: #000000;
$error: #FFB4AB;
$onError: #690005;
$errorContainer: #93000A;
$onErrorContainer: #FFDAD6;
$primaryFixed: #D3E4FF;
$primaryFixedDim: #A3C9FF;
$onPrimaryFixed: #001C38;
$onPrimaryFixedVariant: #004882;
$secondaryFixed: #DBE1FF;
$secondaryFixedDim: #BCC5EB;
$onSecondaryFixed: #101A37;
$onSecondaryFixedVariant: #3C4665;
$tertiaryFixed: #E2DFFF;
$tertiaryFixedDim: #C3C1F9;
$onTertiaryFixed: #171543;
$onTertiaryFixedVariant: #434271;
$success: #B5CCBA;
$onSuccess: #213528;
$successContainer: #374B3E;
$onSuccessContainer: #D1E9D6;
$term0: #131B25;
$term1: #8383FF;
$term2: #64DCF0;
$term3: #75FCDD;
$term4: #88AFD2;
$term5: #97A6EF;
$term6: #91D1F7;
$term7: #CCDBD5;
$term8: #C3B5C0;
$term9: #BCB9FF;
$term10: #F7FDFF;
$term11: #FFFFFF;
$term12: #C7DFF4;
$term13: #D3D8FF;
$term14: #F7FBFF;
$term15: #D2E3FF;
